// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import "_variables.scss";

html,
body {
  font-family: "Macondo", cursive;
  font-size: 22px;
  font-weight: 400;
  color: $color-dark-Sand;
}

@media (max-width: 800px) {
  html,
  body {
    font-size: 16px;
  }
}
