// $color-grey: #d1d1d1;
// $color-white: #ffffff;
// $color-orange: #db7d2a;

// $color-blue-Green: #9df9ef;
// $color-dusty-White: #edf756;
// $color-pink-Sand: #ffa8b6;
// $color-dark-Sand: #a28089;

$color-grey: #c4ddd3;
$color-white: #e8a87c;
$color-orange: #85dcba;

// $color-blue-Green: #9df9ef;
// $color-dusty-White: #edf756;
$color-pink-Sand: #41b3a3;
$color-dark-Sand: #e27d60;

$color1: #e27d60;
$color2: #85dcba;
$color3: #e8a87c;
$color4: #c38d9e;
$color5: #41b3a3;
// :root {
//   --color-grey: #c2c2c2;
//   --color-white: #ffffff;
//   --color-orange: #db7d2a;

//   --color-bright-blue: #51e2f5;
//   --color-blue-sreen: #9df9ef;
//   --color-dusty-shite: #edf756;
//   --color-pink-sand: #ffa8b6;
//   --color-dark-sand: #a28089;
// }
