@import "./../App/variables.scss";
.add {
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__title {
  }

  &__form {
    width: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    height: 50px;
    padding: 20px;
    font-size: 30px;
    border-radius: 8px;
    color: $color-dark-Sand;
    &::placeholder {
      color: $color-dark-Sand;
      opacity: 0.7;
    }
  }

  &__button {
    background-color: blue;
    &:hover {
      color: $color-grey;
      background-color: $color-dark-Sand;
      transform: scale(1.05);
    }
  }
}

@media (max-width: 800px) {
  .add {
    width: 100%;
    &__container {
      min-width: 100%;
      gap: 20px;
    }

    &__label {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__button {
      width: 100%;
    }
  }
}
